-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: susenas-meta
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anggota_ruta`
--

DROP TABLE IF EXISTS `anggota_ruta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anggota_ruta` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_ruta` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor_art` int NOT NULL,
  `rekap` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `mak_beli` int DEFAULT NULL,
  `mak_produksi` int DEFAULT NULL,
  `rokok_beli` int DEFAULT NULL,
  `rokok_produksi` int DEFAULT NULL,
  UNIQUE KEY `anggota_ruta_nomor_art_id_ruta_unique` (`nomor_art`,`id_ruta`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anggota_ruta`
--

LOCK TABLES `anggota_ruta` WRITE;
/*!40000 ALTER TABLE `anggota_ruta` DISABLE KEYS */;
/*!40000 ALTER TABLE `anggota_ruta` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daftar_validasi`
--

DROP TABLE IF EXISTS `daftar_validasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daftar_validasi` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'error',
  `blok` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_variabel` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi_variabel` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_rule` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daftar_validasi`
--

LOCK TABLES `daftar_validasi` WRITE;
/*!40000 ALTER TABLE `daftar_validasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `daftar_validasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kabkot`
--

DROP TABLE IF EXISTS `kabkot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kabkot` (
  `kode` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(63) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_provinsi` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `garis_kemiskinan` int NOT NULL DEFAULT '500000',
  PRIMARY KEY (`kode`),
  KEY `kabkot_kode_provinsi_foreign` (`kode_provinsi`),
  CONSTRAINT `kabkot_kode_provinsi_foreign` FOREIGN KEY (`kode_provinsi`) REFERENCES `provinsi` (`kode`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kabkot`
--

LOCK TABLES `kabkot` WRITE;
/*!40000 ALTER TABLE `kabkot` DISABLE KEYS */;
/*!40000 ALTER TABLE `kabkot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kabkot_summary`
--

DROP TABLE IF EXISTS `kabkot_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kabkot_summary` (
  `kode_prov` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_kabkot` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kabkot` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jumlah_dok` int NOT NULL,
  `target_nks` int NOT NULL,
  `dok_error` int NOT NULL DEFAULT '0',
  `dok_warning` int NOT NULL DEFAULT '0',
  `dok_clean` int NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kabkot_summary`
--

LOCK TABLES `kabkot_summary` WRITE;
/*!40000 ALTER TABLE `kabkot_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `kabkot_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `komoditas`
--

DROP TABLE IF EXISTS `komoditas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `komoditas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_komoditas` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_kelompok` bigint unsigned NOT NULL,
  `nama_kelompok` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `satuan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kode_coicop` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kalori` int NOT NULL DEFAULT '0',
  `flag_basket` tinyint(1) NOT NULL DEFAULT '0',
  `type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'standar',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=198 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `komoditas`
--

LOCK TABLES `komoditas` WRITE;
/*!40000 ALTER TABLE `komoditas` DISABLE KEYS */;
/*!40000 ALTER TABLE `komoditas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `konsumsi`
--

DROP TABLE IF EXISTS `konsumsi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `konsumsi` (
  `id_ruta` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_komoditas` bigint unsigned NOT NULL,
  `item` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `satuan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `harga_beli` int DEFAULT NULL,
  `harga_produksi` int DEFAULT NULL,
  `volume_beli` int DEFAULT NULL,
  `volume_produksi` int DEFAULT NULL,
  `volume_total` int DEFAULT NULL,
  `harga_total` int DEFAULT NULL,
  PRIMARY KEY (`id_ruta`,`id_komoditas`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `konsumsi`
--

LOCK TABLES `konsumsi` WRITE;
/*!40000 ALTER TABLE `konsumsi` DISABLE KEYS */;
/*!40000 ALTER TABLE `konsumsi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `konsumsi_art`
--

DROP TABLE IF EXISTS `konsumsi_art`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `konsumsi_art` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_komoditas` bigint unsigned NOT NULL,
  `id_art` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `item` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `satuan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `harga_beli` int DEFAULT NULL,
  `harga_produksi` int DEFAULT NULL,
  `volume_beli` int DEFAULT NULL,
  `volume_produksi` int DEFAULT NULL,
  `volume_total` int DEFAULT NULL,
  `harga_total` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `konsumsi_art_id_art_id_komoditas_unique` (`id_art`,`id_komoditas`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `konsumsi_art`
--

LOCK TABLES `konsumsi_art` WRITE;
/*!40000 ALTER TABLE `konsumsi_art` DISABLE KEYS */;
/*!40000 ALTER TABLE `konsumsi_art` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_desa`
--

DROP TABLE IF EXISTS `master_desa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_desa` (
  `prov` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kab` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kec` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `desa` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `klas` varchar(1) COLLATE utf8mb4_unicode_ci DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_desa`
--

LOCK TABLES `master_desa` WRITE;
/*!40000 ALTER TABLE `master_desa` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_desa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_jabatan`
--

DROP TABLE IF EXISTS `master_jabatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_jabatan` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tingkat` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_jabatan`
--

LOCK TABLES `master_jabatan` WRITE;
/*!40000 ALTER TABLE `master_jabatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_jabatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_kecamatan`
--

DROP TABLE IF EXISTS `master_kecamatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_kecamatan` (
  `prov` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kab` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kec` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_kecamatan`
--

LOCK TABLES `master_kecamatan` WRITE;
/*!40000 ALTER TABLE `master_kecamatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_kecamatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_wilayah`
--

DROP TABLE IF EXISTS `master_wilayah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_wilayah` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kode_prov` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `prov` varchar(63) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'SULAWESI UTARA',
  `kode_kabkot` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kabkot` varchar(63) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'SULAWESI UTARA',
  `kode_kec` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kec` varchar(63) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_desa` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `desa` varchar(63) COLLATE utf8mb4_unicode_ci NOT NULL,
  `klas` varchar(1) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_bs4` varchar(4) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nks` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=185 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_wilayah`
--

LOCK TABLES `master_wilayah` WRITE;
/*!40000 ALTER TABLE `master_wilayah` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_wilayah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nks`
--

DROP TABLE IF EXISTS `nks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kode_nks` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_kabkot` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `semester` varchar(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `nks_kode_kabkot_foreign` (`kode_kabkot`),
  CONSTRAINT `nks_kode_kabkot_foreign` FOREIGN KEY (`kode_kabkot`) REFERENCES `kabkot` (`kode`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nks`
--

LOCK TABLES `nks` WRITE;
/*!40000 ALTER TABLE `nks` DISABLE KEYS */;
/*!40000 ALTER TABLE `nks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nks_summary`
--

DROP TABLE IF EXISTS `nks_summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nks_summary` (
  `kode_prov` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_kabkot` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nks` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kabkot` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jumlah_dok` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dok_error` tinyint NOT NULL DEFAULT '0',
  `dok_warning` tinyint NOT NULL DEFAULT '0',
  `dok_clean` tinyint NOT NULL DEFAULT '0'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nks_summary`
--

LOCK TABLES `nks_summary` WRITE;
/*!40000 ALTER TABLE `nks_summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `nks_summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provinsi`
--

DROP TABLE IF EXISTS `provinsi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `provinsi` (
  `kode` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`kode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provinsi`
--

LOCK TABLES `provinsi` WRITE;
/*!40000 ALTER TABLE `provinsi` DISABLE KEYS */;
INSERT INTO `provinsi` VALUES ('71','SULAWESI UTARA');
/*!40000 ALTER TABLE `provinsi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `range_harga_komoditas`
--

DROP TABLE IF EXISTS `range_harga_komoditas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `range_harga_komoditas` (
  `id_komoditas` int NOT NULL,
  `kode_kabkot` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `min` int NOT NULL,
  `max` int NOT NULL,
  UNIQUE KEY `range_harga_komoditas_id_komoditas_kode_kabkot_unique` (`id_komoditas`,`kode_kabkot`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `range_harga_komoditas`
--

LOCK TABLES `range_harga_komoditas` WRITE;
/*!40000 ALTER TABLE `range_harga_komoditas` DISABLE KEYS */;
/*!40000 ALTER TABLE `range_harga_komoditas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `susenas_inti`
--

DROP TABLE IF EXISTS `susenas_inti`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `susenas_inti` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kode_prov` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_kab` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_kec` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_desa` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_bs4` varchar(4) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nks` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  `semester` varchar(1) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_bs` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_dsrt` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_urut_sampel` varchar(4) COLLATE utf8mb4_unicode_ci NOT NULL,
  `operator_id` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_krt` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(15) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `susenas_inti`
--

LOCK TABLES `susenas_inti` WRITE;
/*!40000 ALTER TABLE `susenas_inti` DISABLE KEYS */;
/*!40000 ALTER TABLE `susenas_inti` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_lengkap` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nip` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_kabkot` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jabatan` enum('Staf BPS Provinsi','Staf BPS Kabupaten/Kota','Mitra') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Staf BPS Kabupaten/Kota',
  `role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'basic',
  `username` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vsusenas_mak`
--

DROP TABLE IF EXISTS `vsusenas_mak`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vsusenas_mak` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `users_id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status_dok` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'error',
  `kode_prov` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_kabkot` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_kec` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_desa` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_bs4` varchar(4) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nks` varchar(6) COLLATE utf8mb4_unicode_ci NOT NULL,
  `semester` varchar(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '1',
  `r108` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `r109` int unsigned DEFAULT NULL,
  `r110` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `r111` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `r201_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `r202_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `r201_jabatan` enum('Staf BPS Provinsi','Staf BPS Kabupaten/Kota','Mitra') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Staf BPS Kabupaten/Kota',
  `r202_jabatan` enum('Staf BPS Provinsi','Staf BPS Kabupaten/Kota','Mitra') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Staf BPS Kabupaten/Kota',
  `r203` varchar(1) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `wtf_1` int unsigned DEFAULT NULL,
  `wtf_2` int unsigned DEFAULT NULL,
  `wtf_3` int unsigned DEFAULT NULL,
  `wtf_4` int unsigned DEFAULT NULL,
  `wtf_5` bigint unsigned DEFAULT NULL,
  `wtf_6` int unsigned DEFAULT NULL,
  `wtf_7` int unsigned DEFAULT NULL,
  `wtf_8` int unsigned DEFAULT NULL,
  `wtf_9` int unsigned DEFAULT NULL,
  `wtf_10` int unsigned DEFAULT NULL,
  `wtf_11` int unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `blok4_31_jumlah_mak_beli` int DEFAULT NULL,
  `blok4_31_jumlah_mak_produksi` int DEFAULT NULL,
  `blok4_31_jumlah_rokok_beli` int DEFAULT NULL,
  `blok4_31_jumlah_rokok_produksi` int DEFAULT NULL,
  `blok4_32_0_beli` int DEFAULT NULL,
  `blok4_32_0_produksi` int DEFAULT NULL,
  `blok4_32_0_total` int DEFAULT NULL,
  `blok4_32_1_beli` int DEFAULT NULL,
  `blok4_32_1_produksi` int DEFAULT NULL,
  `blok4_32_1_total` int DEFAULT NULL,
  `blok4_32_2_beli` int DEFAULT NULL,
  `blok4_32_2_produksi` int DEFAULT NULL,
  `blok4_32_2_total` int DEFAULT NULL,
  `blok4_32_3_beli` int DEFAULT NULL,
  `blok4_32_3_produksi` int DEFAULT NULL,
  `blok4_32_3_total` int DEFAULT NULL,
  `blok4_32_4_beli` int DEFAULT NULL,
  `blok4_32_4_produksi` int DEFAULT NULL,
  `blok4_32_4_total` int DEFAULT NULL,
  `blok4_32_5_beli` int DEFAULT NULL,
  `blok4_32_5_produksi` int DEFAULT NULL,
  `blok4_32_5_total` int DEFAULT NULL,
  `blok4_32_6_beli` int DEFAULT NULL,
  `blok4_32_6_produksi` int DEFAULT NULL,
  `blok4_32_6_total` int DEFAULT NULL,
  `blok4_32_7_beli` int DEFAULT NULL,
  `blok4_32_7_produksi` int DEFAULT NULL,
  `blok4_32_7_total` int DEFAULT NULL,
  `blok4_32_8_beli` int DEFAULT NULL,
  `blok4_32_8_produksi` int DEFAULT NULL,
  `blok4_32_8_total` int DEFAULT NULL,
  `blok4_32_9_beli` int DEFAULT NULL,
  `blok4_32_9_produksi` int DEFAULT NULL,
  `blok4_32_9_total` int DEFAULT NULL,
  `blok4_32_10_beli` int DEFAULT NULL,
  `blok4_32_10_produksi` int DEFAULT NULL,
  `blok4_32_10_total` int DEFAULT NULL,
  `blok4_32_11_beli` int DEFAULT NULL,
  `blok4_32_11_produksi` int DEFAULT NULL,
  `blok4_32_11_total` int DEFAULT NULL,
  `blok4_32_12_beli` int DEFAULT NULL,
  `blok4_32_12_produksi` int DEFAULT NULL,
  `blok4_32_12_total` int DEFAULT NULL,
  `blok4_32_13_beli` int DEFAULT NULL,
  `blok4_32_13_produksi` int DEFAULT NULL,
  `blok4_32_13_total` int DEFAULT NULL,
  `blok4_32_14_beli` int DEFAULT NULL,
  `blok4_32_14_produksi` int DEFAULT NULL,
  `blok4_32_14_total` int DEFAULT NULL,
  `blok4_32_15_total` int DEFAULT NULL,
  `blok4_32_16_total` int DEFAULT NULL,
  `blok4_32_17_total` int DEFAULT NULL,
  `blokqc_0` int DEFAULT NULL,
  `blokqc_1` int DEFAULT NULL,
  `blokqc_2` int DEFAULT NULL,
  `blokqc_3` int DEFAULT NULL,
  `blokqc_4` int DEFAULT NULL,
  `blokqc_5` int DEFAULT NULL,
  `blokqc_6` int DEFAULT NULL,
  `hal10_jml_komoditas` int DEFAULT NULL,
  `hal8_jml_komoditas` int DEFAULT NULL,
  `hal6_jml_komoditas` int DEFAULT NULL,
  `hal4_jml_komoditas` int DEFAULT NULL,
  `hal2_jml_komoditas` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vsusenas_mak`
--

LOCK TABLES `vsusenas_mak` WRITE;
/*!40000 ALTER TABLE `vsusenas_mak` DISABLE KEYS */;
/*!40000 ALTER TABLE `vsusenas_mak` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-09-18  9:17:54
